@font-face {
font-family: 'Bull-Regular-H7wPU5hR';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/90b24930-14c1-461f-b72c-29b4289c8774/bull-regular.woff') format('woff');
}