@font-face {
font-family: 'Oswald-BoldItalic-pcf5rbKe';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/336c9d4e-33c8-45a3-811f-40907a1a20fa/oswald-bolditalic.woff') format('woff');
}